@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@import url('https://fonts.cdnfonts.com/css/sf-ui-display');

.font-sf {
  font-family: 'SF UI Display', sans-serif;
}

.bg-dark {
  background-color: #212121;
}

.text-dark {
  background-color: #212121;
}

body {
  background-color: #212121;
  font-family: 'SF UI Display', sans-serif;
}

.br-pink {
  border-left: 3px solid orange;
  background-color: rgba(255, 166, 0, 0.538);
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.title-place {
  color: #fff;
  font-family: SF UI Display;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bg-fade {
  background: rgba(0, 0, 0, 0.5);
}

.bg-linear {
  background: linear-gradient(360deg, #040506 0%, rgba(30, 32, 44, 0) 100%);
}
